.footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 900px;
    background-image: url(../../assets/5_FOOTER/5_FOOTER_BG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
  }
  
  .footer__main--button-active {
    text-align: center;
    margin: 0 auto;
    width: 565px;
    height: 234px;
    background-image: url(../../assets/BTN_play_normal.png);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  
  .footer__main--button-active:hover {
    text-align: center;
    margin: 0 auto;
    width: 565px;
    height: 234px;
    background-image: url(../../assets/BTN_play_hover.png);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  
  .footer__main--button-active:active {
    text-align: center;
    margin: 0 auto;
    width: 565px;
    height: 234px;
    background-image: url(../../assets/BTN_play_active.png);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  
  .footer__main--semi-text {
    max-width: 1200px;
    margin: 30px auto;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: rgb(238, 238, 238);
    line-height: 1.5;
  }
  
  .footer__social {
    width: 550px;
    text-align: center;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }
  
  .social__icon {
    width: 85px;
    height: 90px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
  }
  
  .social__facebook {
    background-image: url(../../assets/5_FOOTER/5_FOOTER_btn_fb_normal.png);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .social__facebook:hover {
    background-image: url(../../assets/5_FOOTER/5_FOOTER_btn_fb_hover.png);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .social__facebook:active {
    background-image: url(../../assets/5_FOOTER/5_FOOTER_btn_fb_active.png);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  
  .social__vk {
    background-image: url(../../assets/5_FOOTER/5_FOOTER_btn_vk_normal.png);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .social__vk:hover {
    background-image: url(../../assets/5_FOOTER/5_FOOTER_btn_vk_hover.png);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .social__vk:active {
    background-image: url(../../assets/5_FOOTER/5_FOOTER_btn_vk_active.png);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  
  .social__ok {
    background-image: url(../../assets/5_FOOTER/5_FOOTER_btn_ok_normal.png);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .social__ok:hover {
    background-image: url(../../assets/5_FOOTER/5_FOOTER_btn_ok_hover.png);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .social__ok:active {
    background-image: url(../../assets/5_FOOTER/5_FOOTER_btn_ok_active.png);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  
  .social__mail {
    background-image: url(../../assets/5_FOOTER/5_FOOTER_btn_mail_normal.png);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .social__mail:hover {
    background-image: url(../../assets/5_FOOTER/5_FOOTER_btn_mail_hover.png);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .social__mail:active {
    background-image: url(../../assets/5_FOOTER/5_FOOTER_btn_mail_active.png);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  
  .footer__main--politics-text {
    max-width: 1200px;
    margin: 30px auto;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: rgb(87, 87, 87);
    line-height: 1.5;
    width: 550px;
  }
  
  .footer__main--politics-text a {
    text-decoration: underline;
    color: rgb(87, 87, 87);
  }